*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general */
body{
    background-color: #f6f8f9;
}
header, main, section{
    margin-bottom: 20px;
}
section{
    margin-left: 20px;
    margin-top: 20px;
}
button{
    padding: 6px;
    border-radius: 10px;
}
li{
    margin-bottom: 10px;
}
ul{
    list-style: none;
}

/* colors */

.blue-bg{
    background-color: #45abea;
}
.white-bg{
    background-color: #ffffff;
}
.purple-bg{
    background-color: #9c72e4;
}
.green-bg{
    background-color: #64c0a9;
}
.orange-bg{
    background-color: #f29e33;
}
.pink-bg{
    background-color: #d863a1;
}
.light-green-bg{
    background-color: #b0c926;
}
.white-text{
    color: white;
}
#grey-text{
    color: grey;
}

/* header */
.banner{
    padding: 10px;
}
.logo{
    vertical-align: middle;
}
.title{
    display: inline-block;
    vertical-align: middle;
    font-family: 'Archivo Black', sans-serif;
}

/* main */
.container{
    width: 50%;
    border: 2px solid grey;
    border-radius: 10px;
    margin: 0 auto;
}
.add{
    margin: 20px;
}